@media (prefers-color-scheme: dark) {
  .tabs {
    --tabs-highlight-color: var(--color--primary-60) !important;
    --tabs-text-color: var(--color-text-neutral-medium) !important;
    --tabs-text-color-active: var(--color-text-neutral-loud) !important;
    --tabs-background-color: var(--color--gray-200) !important;
    --tabs-background-color-hover: var(--color--gray-100) !important;
    --tabs-border-color: var(--color--gray-60) !important;
  }

  .tabs__link {
    background-color: var(--tabs-background-color) !important;
    color: var(--tabs-text-color) !important;
    border-color: var(--tabs-border-color) !important;
  }

  .tabs__link:hover {
    background-color: var(--tabs-background-color-hover) !important;
    color: var(--tabs-text-color-active) !important;
  }

  .tabs__link:focus {
    outline: solid 3px var(--tabs-highlight-color) !important;
    outline-offset: -3px !important;
  }

  .tabs__link.is-active {
    color: var(--tabs-text-color-active) !important;
    font-weight: 600 !important;
  }

  .tabs__link.is-active::after {
    border-color: var(--tabs-highlight-color) !important;
  }

  .tabs__trigger {
    background-color: var(--tabs-background-color) !important;
    border-color: var(--tabs-border-color) !important;
  }

  .tabs__trigger:hover {
    background-color: var(--tabs-background-color-hover) !important;
  }

  .tabs__trigger:focus {
    border-color: var(--tabs-highlight-color) !important;
  }

  .tabs__trigger-icon > span {
    border-block-start-color: var(--tabs-highlight-color) !important;
  }
}
