@media (prefers-color-scheme: dark) {
  .site-header__initial,
  .site-header__fixable {
    background-color: var(--color--primary-40);
    color: var(--color-text-neutral-loud);
  }

  .site-header__inner {
    background-color: var(--color--gray-1);
    color: var(--color-text-neutral-medium);
  }

  .site-header__inner a,
  .site-header__inner button,
  .site-header__inner .menu {
    color: var(--color-text-neutral-loud);
    background-color: transparent;
  }

  .site-header__inner a:hover,
  .site-header__inner a:focus {
    color: var(--color-text-primary-medium);
  }

  @media (min-width: 75rem) {
    .site-header__fixable.is-expanded .site-header__inner {
      box-shadow: -36px 1px 36px rgba(0, 0, 0, 0.25);
    }

    [dir="rtl"] .site-header__fixable.is-expanded .site-header__inner {
      box-shadow: 36px 1px 36px rgba(0, 0, 0, 0.25);
    }
  }
}